html { height: 100%; position:relative; }
body { margin: 0; font-family: 'Montserrat', sans-serif; font-weight: 300; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
a { color: #0f5ca0; text-decoration: none; font-weight: 400; }
.content { position: absolute; top: 0; bottom: 60px; width: 100%; }
main { min-height: 100%; }
/* Header */
header { color: #fff; position: fixed; top: 0; width: 100%; padding: 1em 0; z-index: 999; background: rgba(34, 34, 34, 0.9); transition: top 0.3s ease-in-out; }
header h1 { text-transform: uppercase; }
header img { display: inline-block;}
header h2 { display: inline-block; font-size: 2em; margin: 0; text-transform: uppercase; }
header h2 a { color: #448ccb; text-decoration: none; }
/* Nav */
ul.nav { margin: 0; padding: 0; }
.nav { float: right; list-style: none; margin: 0; }
.nav li a { color: #fff; font-weight: 300; text-decoration: none; }
.nav li a:hover { color: #448ccb; }
.nav li { float: left; padding: 0 1.4em; font-weight: 700; }
.nav li:hover { cursor: pointer; color: #448ccb; }
.nav .active { cursor: pointer; color: #448ccb; font-weight: bold; }
.nav-up { top: -110px; }
/* Footer */
footer { background-color: #222; bottom: 0; color: #fff; left: 0; position: relative; width:100%; }
.footer_nav li { float: left; padding: 0 1em; font-weight: 700; list-style: none; border-right: 1px solid #777; }
footer a { color: #fff; text-decoration: none; }
footer h2 { margin: 0; }
footer span { font-weight: 300; padding: 0.2em 0; color: #448ccb; }
footer p { font-size: 0.8em; font-weight: 300; padding: 0.2em 0; }
.footer_nav { float: right; }
.footer_nav li:last-child { border-right: none;}
.footer_nav li a { color: #fff; font-size: 0.8em; font-weight: 300; text-decoration: none; }
.footer_nav li a:hover { color: #448ccb; }
/* Home Page */
.home_wrap { padding-top: 9em; min-height: 860px; background-image:url('../images/backgrounds/home_bg.jpg'); background-repeat: no-repeat; background-size: 100%; color: #fff; }
.home_intro h1 { font-size: 2em; margin: 0.5em 0; }
.home_intro h2 { font-size: 1.3em; font-weight: 400; margin: 0.5em 0; }
.home_details {position: relative; top: 100px; color: #fff; }
.home_details aside { min-height: 300px; }
.home_details h2, .about_details h2, .contact_details h2 { text-align: center; }
.logos { display: block !important; margin: 0 auto; }
/* About Page */
.about_wrap { padding-top: 10em; min-height: 980px; background-image:url('../images/backgrounds/about_bg.jpg'); background-repeat: no-repeat; background-size: 100%; color: #fff; }
.about_intro .MuiButton-containedPrimary { background-color: #448ccb; margin-right: 2em; }
.about_intro { float: right; }
.about_details { position: relative; top: 100px; color: #fff; }
.about_details aside { min-height: 360px; }
/* Contact Page */
.contact_wrap { padding-top: 8em; min-height: 900px; background-image:url('../images/backgrounds/contact_bg.jpg'); background-repeat: no-repeat; background-size: 100%; color: #fff; }
.contact_intro { float: left; }
.contact_form { float: right; }
.contact_details {position: relative; top: 80px; color: #fff; }
.contact_details aside { min-height: 280px; }
.contact_wrap .MuiButton-containedPrimary { background-color: #448ccb; margin-right: 2em; }
/* Blog Page */
.blog_wrap { min-height: 2000px; background-image:url('../images/backgrounds/blog_bg.jpg'); background-size: cover;  background-repeat: no-repeat; background-size: 100%; color: #fff; }
.blog_container { position: relative; top: 120px; }
.blog_container a { text-decoration: none; }
.blog_details img { border-bottom: 1px solid #ddd; }
.blog_details h4 { font-size: 2.2em; margin: 0.5em 0; font-family: 'Montserrat', sans-serif; }
.blog_details small { display: block; font-size: 1em; margin: 0.2em 0; color: #777; font-family: 'Montserrat', sans-serif; }
.blog_details p { margin: 0.5em 0; font-family: 'Montserrat', sans-serif; }
/* Blog Post Page */
.blogpost_wrap { background-image:url('../images/backgrounds/blog_bg.jpg'); background-size: cover;  background-repeat: no-repeat; background-size: 100%; }
.breadcrumbs { margin-bottom: 2em; padding-bottom: 1em; border-bottom: 1px solid #eee; color: #777; }
.breadcrumbs ul { margin: 0; padding: 0; display: flex; list-style: none; }
.breadcrumbs li { float: left; padding-right: 0.5em; }
.breadcrumbs a, .breadcrumbs span { margin-right: 0.5em; text-decoration: none; font-size: 0.9em; font-size: 400; color: #777; }
.breadcrumbs a:hover { color: #448ccb; }
.blogpost_wrap { padding: 9em 0 5em 0; min-height: 100%;}
.blogpost_wrap footer { position: relative ;}
.blogpost_details { background-color: #fff; padding: 2em; }
.blogpost_details h1 { margin: 0 0 1em 0; }
.blogpost_details h5 { margin: 0.2em 0; color: #777; font-weight: 400; }
.blogpost_details img { width: 100%; }
.blogpost_sidebar { background: linear-gradient(to right, #ddd 0, #ffffff 15px, #ffffff 100%); }
.blogpost_sidebar aside { padding: 0 0 0 1em; }
.blogpost_sidebar aside a { text-decoration: none; color: #000; }
.blogpost_sidebar h3 { margin: 0 0 1em 0; border-bottom: 1px solid #eee; padding: 0 0 0.5em 0.5em; }
.blogpost_posts { width: 100%; clear: both; margin: 0.5em 0; min-height: 70px; padding: 0.5em; }
.blogpost_posts:hover { -webkit-box-shadow: 0px 0px 20px 0px rgba(153,153,153,0.43); -moz-box-shadow: 0px 0px 20px 0px rgba(153,153,153,0.43); box-shadow: 0px 0px 20px 0px rgba(153,153,153,0.43); }
.blogpost_posts img { width: 100px; float: left; margin-right: 0.5em; border: 1px solid #ccc; }
.blogpost_posts h4 { font-size: 0.9em; font-weight: 400; margin: 0; }
/* Buttons */
.btn_try { border: 1px solid #eee; padding: 0.5em; color: #eee; font-size: 0.8em; border-radius: 0.5em; }
.btn_try:hover { background-color: #000; color: #fff; }
.btn_link { color: #fff; font-weight: 300; text-decoration: none; font-weight: 700; }



/* Bounce-In */
.hvr-bounce-in{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-transition-duration:0.5s;transition-duration:0.5s;}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active{-webkit-transform:scale(1.2);transform:scale(1.2);-webkit-transition-timing-function:cubic-bezier(0.47, 2.02, 0.31, -0.36);transition-timing-function:cubic-bezier(0.47, 2.02, 0.31, -0.36);}
/* Push */
@-webkit-keyframes hvr-push{50%{-webkit-transform:scale(0.8);transform:scale(0.8);}
 100%{-webkit-transform:scale(1);transform:scale(1);}
 }
 @keyframes hvr-push{50%{-webkit-transform:scale(0.8);transform:scale(0.8);}
 100%{-webkit-transform:scale(1);transform:scale(1);}
 }
 .hvr-push{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);}
 .hvr-push:hover, .hvr-push:focus, .hvr-push:active{-webkit-animation-name:hvr-push;animation-name:hvr-push;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:1;animation-iteration-count:1;}

/* Wavw Animation */
@keyframes move_wave{0%{transform:translateX(0) translateZ(0) scaleY(1) }
 50%{transform:translateX(-25%) translateZ(0) scaleY(0.55) }
 100%{transform:translateX(-50%) translateZ(0) scaleY(1) }
}
.waveWrapper{overflow:hidden;position:absolute;left:0;right:0;bottom:350px;top:0;margin:auto;z-index:-1;}
.waveWrapperInner{position:absolute;width:100%;overflow:hidden;height:100%;bottom:-1px;background-image:linear-gradient(to top, #0c0b10 20%, #000 80%);}
.bgTop{z-index:15;opacity:0.5;}
.bgMiddle{z-index:10;opacity:0.75;}
.bgBottom{z-index:5;}
.wave{position:absolute;left:0;width:200%;height:100%;background-repeat:repeat no-repeat;background-position:0 bottom;transform-origin:center bottom;}
.waveTop{background-size:50% 100px;}
.waveAnimation .waveTop{animation:move-wave 3s;-webkit-animation:move-wave 3s;-webkit-animation-delay:1s;animation-delay:1s;}
.waveMiddle{background-size:50% 120px;}
.waveAnimation .waveMiddle{animation:move_wave 10s linear infinite;}
.waveBottom{background-size:50% 100px;}
.waveAnimation .waveBottom{animation:move_wave 15s linear infinite;}


@media screen and (max-width: 991px) {
/* start of large tablet styles */
    .nav { float: none; }
    .nav_wrap { text-align: center; }
    ul.nav { display: inline-block; margin: 0 auto; }
    .nav li { padding: 0 0.8em; }
    .nav-up { top: -115px; }
    footer { display: none; }
    .home_intro { position: relative; top: 120px; }
    .home_wrap, .about_wrap, .contact_wrap, .blog_wrap { padding-top: 2em; }
    .blogpost_wrap { padding-top: 7em; }
    .home_details aside, .about_details aside, .contact_details aside { min-height: auto; }
    .blogpost_details { padding: 1em; }
    .blogpost_sidebar { background: none; }
    .blogpost_sidebar aside { padding: 1em 0; }
    .blogpost_sidebar h3 { margin: 1em 0; border-top: 1px solid #eee; padding: 0.5em 0; }
}

@media screen and (max-width: 479px) {
/* start of phone styles */
    header { background: rgba(34, 34, 34, 1); }
    .nav li { padding: 0 0.8em; font-size: 0.85em; }
    .nav-up { top: -105px; }
    .about_wrap, .contact_wrap { padding-top: 6.5em; background-color: #000; background-image: none; }
    .home_wrap, .blog_wrap { padding-top: 0.5em; background-color: #000; background-image: none; }
    .blogpost_wrap { background-image: none; padding-top: 7.5em; }
    .home_intro h1, .blog_container h1 { margin: 0; }
    .home_details, .blog_details { top: 120px; }
    .about_details, .contact_details { top: 20px; }
    .home_details h1, .about_details h1, .contact_details h1, .blog_details h1 { font-size: 1.5em; }
    .waveWrapper { display: none; }
    .breadcrumbs li { padding-right: 0.2em; }
    .breadcrumbs a, .breadcrumbs span { margin-right: 0.2em; font-size: 0.7em; }
    .blogpost_details { padding: 0.5em; }
    .blogpost_sidebar { background: none; }
    .blogpost_sidebar aside { padding: 1em 0; }
    header .MuiGrid-spacing-xs-3 > .MuiGrid-item { padding: 3px; }

}

@media screen and (max-width: 320px) {
/* start of phone styles */
    .nav li { padding: 0 0.5em; font-size: 0.75em; }
    .breadcrumbs a, .breadcrumbs span { margin-right: 0.2em; font-size: 0.6em; }
    
}
